* {
  font-family: Roboto;
  text-align: center;
  font-size: 32px;
  color: #c2a072;
}
body {
  background-color: darkslategrey;
  border: 2px solid #c2a072;
  border-radius: 20px;
  width: 40vw;
  min-height: 80vh;
  margin: auto;
  margin-top: 60px;
}

.all-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
button {
  padding: 16px 38px;
  font-size: 50px;
  background-color: beige;
  border: 2px solid gray;
  border-radius: 15px;
}

.results {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
  margin-bottom: 40px;
}
